* {
	font-family: Arial;
	background-color: hsl(48, 100%, 93%);
}

nav {
	background-color: hsl(48, 100%, 100%);
	display: inline-block;
}

footer {
	background-color: blue;
	position: absolute;
	bottom: 5px;
}
